body{
    background: linear-gradient(-45deg, black, #666666, #777777, white);
}

.buttons{
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 15%; 
    /* background-color: black; */

}

button{
    height: 60px;
    width: 90px;
    font-size: 20px;
    background-color: #666666;
    font-family: sans-serif;
    color: white;
    border: none;
    transition: 2s ease-out;
    margin-right: 15px;
    /* animation: jump 1s linear infinite;
    animation-play-state: paused; */
}

button:hover{
    opacity: 0.6;
    transform: scale(1.04);
    /* animation-play-state: running; */
}

/* @keyframes jump{
    0%{
        top: 13%;
    }
    100%{
        bottom: 13%;
    }
} */